$primary-color: #007bff;

body {
  font-family: sans-serif;
  color: $primary-color;

  .container {
    width: 80%;
    margin: 0 auto;

    h1 {
      text-align: center;
      color: darken($primary-color, 10%);
    }
  }
}