$color-1: #000000;
$color-2: #FFFFFF;
$color-3: #ff0000;
$color-4: #ffff00;
$color-5: #c6c6c6;


body {
  font-family: sans-serif;
  color: $color-1;
  background-color: $color-3;

  .container {
    width: 80%;
    margin: 0 auto;

    h1 {
      text-align: center;
      color: darken($primary-color, 10%);
    }
  }
}